/* Styling for Loader */

body {
  background-color: #fefefe;
}

/* Styling for Loading */
@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loading-spinner {
  width: 50px;
  height: 50px;
  border: 10px solid #f3f3f3;
  border-top: 10px solid #383636;
  border-radius: 50%;
  animation: spinner 1.5s linear infinite;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.loading {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* Styling for Pagination Button */
.btn-pagination {
  border-radius: 50%;

  background-color: black;
  color: white;
  padding: 10px;
  margin-top: 25px;
}
.btn-pagination:hover {
  cursor: pointer;
  color: goldenrod;
}
.pagination-container {
  display: inline;
  margin-left: 7%;
}

/* Styling for character Listing */
.character-list {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 25%;
  background-color: rgb(224, 219, 219);
}
.character-list:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.3);
}
.character-container {
  margin: 20px;
  display: flex;
  width: 150%;
  height: 100%;
  margin: 40px;
}

.name {
  font-weight: bold;
  display: inline;
}

.name:hover {
  cursor: pointer;
  color: yellow;
}

.list {
  list-style: none;
}
.grid-holder {
  display: grid;
  grid-template-columns: 560px 1fr 1fr;
  gap: 20px;
  margin-bottom: 40px;
}
.gender {
  display: inline;
  font-weight: bold;
}

/* Styling for Planet */
.planet {
  display: inline;
  font-weight: bold;
}

/* Styling for CharacterDetails */
.wrapper {
  display: grid;
}
.films {
  display: inline;
}
.btn-favourites {
  width: 100%;
  border: none;
  background-color: rgb(224, 219, 219);
  text-align: start;
  font-size: xx-large;
}
.btn-favourites:hover {
  cursor: pointer;
}
.fav:hover {
  color: yellow;
  cursor: pointer;
}
.fav {
  color: azure;
}
.character-details {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 25%;
  background-color: rgb(224, 219, 219);
}
.character-details:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.3);
}
.films {
  margin-top: 30px;
}

/* Styling the searchbar */

.search {
  background-color: black;
  height: 30px;
  width: 400px;
  color: gold;
}
::placeholder {
  color: gold;
  font-weight: 200;
}
.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 10vh;
  color: #f3f3f3;
  font-weight: bold;
  font-size: 32px;
}
.search-btn {
  border-radius: 25%;
  background-color: black;
  color: gold;
  border: none;
  margin-left: 15px;
}
.search-btn:hover {
  cursor: pointer;
}
/* Styling the search Result */

.search-result {
  display: grid;
  gap: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 25%;
  background-color: rgb(224, 219, 219);
  margin: 10px;
}
.search-result.hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.3);
}

/* Styling for Appjs, responsive designing */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1400px) {
  .container {
    width: 1600px;
  }
}

/* Styling for Favourites Page */
.favourites-container {
  display: grid;
  gap: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 25%;
  background-color: rgb(224, 219, 219);
  margin: 10px;
}

/* grid-template-columns: 560px 1fr 1fr;
  gap: 20px;
  margin-bottom: 40px;
} */

.favourites-container:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.3);
}

.btn-remove {
  width: 65%;
  background-color: black;
  color: white;
}
.btn-remove:hover {
  cursor: pointer;
  color: yellow;
}
